:root {
  ----primary-light-clr: #e0deda;
  ----primary-dark-clr: #2a2a2a;
  --accent-dark-clr: #e6a4a2;
  --accent-clr: #f3d0d7;
  --secondary-clr: #b5c18e;
  --secondary-light-clr: #ccd3ca;
  --third-clr: #eadbc8;
  --third-light-clr: #f0ebe3;
  --fourth-clr: #c7b7a3;
  --fourth-light-clr: #f6f5f2;
}

@font-face {
  font-family: "songti";
  src: url(./assets/fonts/songti-sc-regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(----primary-dark-clr);
  padding: 0;
  margin: 0;
  font-family: "songti", "Noto Sans SC", sans-serif;
  font-size: 1.25em;
}

.btn,
li {
  cursor: pointer;
}

.btn#scrollTop {
  display: none;
  position: fixed;
  order: 99;
  bottom: 1em;
  right: 1em;
}

.btn#scrollTop img {
  width: 32px;
  height: 32px;
  background-color: var(--accent-clr);
  padding: 1em;
  border-radius: 5px;
}

.section--intro {
  display: flex;
  gap: 1.5em;
  height: 100vh;
  background-color: var(----primary-light-clr);
  padding: 2em;
  align-items: center;
  justify-content: center;
}

.category {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--intro--list {
  list-style: none;
}

.category.btn {
  text-decoration: none;
  background-color: var(--accent-dark-clr);
  color: white;
  height: 60%;
  min-height: 300px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border-radius: 40% 40% 40% 40% / 10% 10% 10% 10%;
}

.category--label {
  font-size: 4rem;
  opacity: 0.8;
}

.category[href="#dao"] {
  background-image: url(./assets/images/laozi.jpg);
  background-position: 40% 0;
  background-size: cover;
}

.category[href="#yu"] {
  background-image: url(./assets/images/kongzi.png);
  background-size: cover;
  background-position: 50%;
}

.category[href="#fo"] {
  background-image: url(./assets/images/buddha-1.png);
  background-size: cover;
  background-position: 50%;
}

.section--subject {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 5em 1em;
}

.section--subject#dao {
  background-color: var(--secondary-light-clr);
}
.section--subject#fo {
  background-color: var(--third-light-clr);
}
.section--subject#yu {
  background-color: var(--fourth-clr);
}

.section--subject#dao .section--subject--type img {
  background-color: var(--third-light-clr);
}
.section--subject#fo .section--subject--type img {
  background-color: var(--secondary-clr);
}
.section--subject#yu .section--subject--type img {
  background-color: var(--third-light-clr);
}

.section--subject--type img {
  width: 50vw;
  border-radius: 50%;
  padding: 1em;
}

.section--subject--reference {
  padding: 1em;
}

.reference--list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reference--item {
  display: flex;
  background-color: rgba(255, 255, 255, 0.411);
  align-items: start;
  padding: 1em;
  margin: 1em 0;
  border-radius: 1em;
}

.reference--item .item--image {
  width: 35%;
  aspect-ratio: 4/3;
  border-radius: 0.75em;
  object-fit: cover;
}

.reference--item .item--link {
  text-decoration: none;
  color: var(----primary-dark-clr);
  align-self: center;
  padding-left: 1em;
}


.reference--video .reference--item .item--link {
  width: 70%;
}

.reference--item .item--type {
  background-color: var(--accent-dark-clr);
  color: #f1e5d1;
  font-weight: bold;
  text-align: center;
  text-wrap: nowrap;
  padding: 0.5em 0.75em;
  border-radius: 1em;
}


@media (min-width: 600px) {
  body{
    font-size: 1.5em;
  }
  .category--label {
    font-size: 8em;
  }

  .section--subject {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .section--subject#fo {
    flex-direction: row-reverse;
  }

  .section--subject--reference {
    width: 60%;
  }

  .section--subject--type {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section--subject--type img {
    width: 70%;
  }

  .reference--item .item--image {
    width: 35%;
    aspect-ratio: 4/2;
  }

  .reference--item .item--type,
  .reference--item .item--link {
    font-size: 1.5em;
  }
}

@media (min-width: 900px) {
  .category.btn {
    border-radius: 50% 50% 50% 50% / 20% 20% 20% 20%;
  }

  .section--subject--reference {
    width: 60%;
    height: 100%;
  }

  .section--subject--type {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
